* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    }
    
    html{
      scroll-behavior: smooth;
    }
    
    body {
      min-height: 100vh;
      background: rgb(168, 158, 158);
    }
    
    li {
      font-size: 1.25em;
    }
    
    /*nav*/

    
    #header-img {
      max-width: 70px;
      display: inline;
      padding-left: 10%;
      padding-top: 2%;
    }

    nav ul {
      position: fixed;
      width: 100%;
      background-color: black;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 70px;
      box-shadow: -10px 0 80px;
    }

    nav li {
        height: 85px;
    }
    
    nav a {
      height: 100%;
      padding: 0 30px;
      display: flex;
      text-decoration: none;
      display: flex;
      align-items: center;  
      color: white;    
    }
    
    nav a:hover {
          color: #c02828;
    }

    nav li:first-child {
        margin-right: auto;
    }

    nav li:nth-child(2) {
        margin-right: auto;
        padding-left: 17%;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.509);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px white;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .sidebar li {
      width: 100%;
    }

    .sidebar a {
      width: 100%;
    }

    .menu {
      filter: invert(92%) sepia(92%) saturate(0%) hue-rotate(244deg) brightness(107%) contrast(107%);
      display: none;
    }

    /*section Title and email Submit*/

    main {
      padding-top: 150px;
    }


    #email-submit { 
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    #title {
      font-size: 2.1em;
    }

    #form { 
      display: flex;
      flex-direction: column;
      height: 75px;
      align-items: center;
      margin-top: 45px;
    }

    #email {
      width: 340px;
      font-size: 1.2em;
    }

    #submit {
      margin-top: 30px;
      font-size: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      border-radius: 2px;
      cursor: pointer;
      width: 130px;
      background-color: #f1c40f;
    }

    #submit:hover {
          color: #c02828;
    }

      /*section*/

    #section-title {
      font-size: 1.8em;
      margin-top: 100px;
      margin-bottom: 50px;
    }

    /*section features*/

    #features {
      margin: 150px auto;
      max-width: 900px;
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }

    #premium,
    #customization {
      margin-top: 50px;
    }

    #features-image {
      max-width: 140px;
      float: left;
      margin-right: 25px;
    }

    #section-title {
      font-size: 2.2em;
      padding-bottom: 2%;
    }

    .features-p { 
      font-size: 1.3em;
    }

    /*section How It Works*/

    #how_it_works {
      margin: 120px auto;
      max-width: 900px;
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
    
    #video {
      margin-bottom: 20px;
    }

    /*section Pricing*/

    .section-title3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }

    .title-pricing {
      font-size: 1.5em;
      padding-bottom: 10px;
    }

    .container {
        margin-top: 10px;
        margin-bottom: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .product {
      border: 5px solid rgb(15, 14, 14);
      border-radius: 25px;
      margin: 20px;
      padding: 25px;
      width: 500px;
    }

    ol {
      padding-left: 20px;
    }

    @media(max-width: 800px) {
  
    .hideOnMobile{
      display: none;
    }

    .menu {
      display: flex;
    }

    nav li {
      font-size: 1.1em;
      height: 65px;
    }

    #header-img {
      max-width: 60px;
    }

    nav li:nth-child(2) {
      margin-right: auto;
      padding-left: 5%;
    }

    /*section Title and email Submit*/

    #title {
      font-size: 1.5em;
    }

    #email {
      width: 300px;
      font-size: 1.0em;
    }

    #submit {
      font-size: 1.0em;
      width: 100px;
    }
    
    /*section features*/

    #section-title {
      font-size: 1.7em;
      padding-bottom: 2%;
    }

    #features {
      max-width: 80%;
    }

    #features-image {
      max-width: 110px;
    }

    .features-h2 { 
      font-size: 1.3em;
    }

    .features-p { 
      font-size: 1.1em;
    }

    /*section How It Works*/

    #video {
      max-width: 80%;
      max-height: 320px;
    }

    /*section Pricing*/

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }

    .product {
      max-width: 80%;
    }

    .title-pricing {
      font-size: 1.3em;
    }

    #li-pricing { 
      font-size: 1.1em;
    }
    
}

    @media(max-width: 400px) {
  
    .name{
      font-size: 0.9em;
    }

    li {
      font-size: 1em;
    }

    nav li {
      height: 55px;
    }

    #header-img {
      max-width: 45px;
    }

    /*section Title and email Submit*/

    #title {
      font-size: 1.1em;
    }

    #email {
      width: 250px;
      font-size: 0.8em;
    }

    #submit {
      font-size: 0.8em;
      width: 90px;
    }

    /*features*/

    #section-title {
      font-size: 1.5em;
      margin-top: 100px;
      margin-bottom: 50px;
    }

    #features {
      max-width: 80%;
    }

    #features-image {
      max-width: 60px;
    }

    .features-h2 { 
      font-size: 1.2em;
    }

    .features-p { 
      font-size: 0.9em;
    }

    /*section How It Works*/

    #video {
      max-width: 70%;
      max-height: 250px;
    }

    /*section Pricing*/

    .title-pricing {
      font-size: 1.2em;
    }

    #li-pricing { 
      font-size: 0.9em;
    }

    }
    


   


    